In [4]:
x = 2
if (x > 0):
    print("true")
else:
    print("false")

true

In [5]:
for cosa in (1,2,3,4,5):
    print(cosa)

1
2
3
4
5

In [6]:
suma = 0
for elemento in (1,2,3,4,5):
    print(suma)
    suma = suma + elemento
print("fin")

0
1
3
6
10
fin

In [11]:
dias = ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes"]
for nombre in dias:
    print(nombre)

Lunes
Martes
Miercoles
Jueves
Viernes

In [13]:
for i in range(3):
    print(i)

0
1
2

In [17]:
for j in range(10):
    if j % 2 == 0:
        continue
    print(j)

1
3
5
7
9

In [18]:
puntos = [(0,1), (1,2), (1,3)]
for (x,y) in puntos:
    print("(", x, ",", y, ")")

( 0 , 1 )
( 1 , 2 )
( 1 , 3 )

In [19]:
for x,y in puntos:
    print(x+y)

1
3
4

In [23]:
dic =  {1:'Lunes', 2:'Martes', 3:'Miércoles' }

for i in dic.values(): #items, keys, values
    print(i)

Lunes
Martes
Miércoles

In [26]:
i = -2
while i < 5:      
    print(i)          # cuerpo
    i = i + 1         # cuerpo
print("Estoy fuera del while")

-2
-1
0
1
2
3
4
Estoy fuera del while

In [27]:
ciudades = ["Madrid", "Sevilla", "Segovia", "Valencia" ]

for (i, valor) in enumerate(ciudades):
    print('%d: %s' % (i, valor))

0: Madrid
1: Sevilla
2: Segovia
3: Valencia

In [30]:
for v in enumerate(ciudades):
    print(v)

(0, 'Madrid')
(1, 'Sevilla')
(2, 'Segovia')
(3, 'Valencia')

In [35]:
print(ciudades[0])

Madrid

In [36]:
print(enumerate(ciudades[0]))

<enumerate object at 0x7f561c1aa0d8>

In [38]:
for valor in reversed(ciudades):
    print(valor)

Valencia
Segovia
Sevilla
Madrid